<div class='container' style="height: 90vh;">
    <div class='row h-100 justify-content-center align-items-center'>
        <div class='mx-auto col-sm-6'>
            <h1 class="display-4 pb-4">Search your log:</h1>
            <form action="">
                <div class="form-row">
                    <div class="form-group col-3">
                        <select class="form-control" id="inlineFormCustomSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">Id</option>
                            <option value="2">Data</option>
                            <option value="3">Ip</option>
                            <option value="4">Status</option>
                            <option value="5">User Agent</option>
                        </select>
                    </div>
                    <div class="form-group col-9">
                        <input type="text" class="form-control" id="userAgent">
                    </div>
                </div>
                <div class="text-right">
                    <a href="#" class="btn btn-primary">Search</a>
                </div>
            </form>
        </div>
    </div>
</div>