<div class='container' style="height: 90vh;">
    <div class='row h-100 justify-content-center align-items-center'>
        <div class='mx-auto col-sm-6'>
            <h1 class="display-4 pb-4">Search your log:</h1>
            <form action="">
                <div class="form-row">
                    <div class="form-group col-3">
                        <select class="form-control" id="inlineFormCustomSelectPref">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="form-group col-9">
                        <input type="text" class="form-control" id="userAgent">
                    </div>
                </div>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>