<div class='container-fluid' style="height: 90vh;">
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='mx-auto col-sm-6'>
      <h1 class="display-4">Welcome to Log Admin</h1>
      <p class="lead">This project contains two applications. A Spring Boot REST API with a postgreSQL database and a
        Angular front-end.</p>
      <h4 class="display-6">Install</h4>
      <hr>
      <p>Clone <a href="">the spring boot repositort</a> and also the <a href="">angular front-end</a>.</p>
      <p></p>
      <h4 class="display-6">Dependencies</h4>
      <hr>
      <p>- Angular (9.1.0)</p>
      <p>- Node (v12.16.1)</p>
      <p>- Jdk (13)</p>
      <p>- PostgreSQL</p>
      <h4 class="display-6">Run</h4>
      <hr>
      <p>To run the API: Open the project in your prefered IDE, let maven install all dependencies and run. The JPA will
        automatically generate the database following the Log model. Don't forget to change your postgree password and user in application.properties.
      </p>
      <p>
        To start the front-end: Run ng serve for a dev server. Navigate to http://localhost:4200/. The app will
        automatically reload if you change any of the source files.
      </p>
    </div>
  </div>
</div>
