<div class='container-fluid' style="height: 90vh;">
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='mx-auto col-sm-6'>
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
      <h4 class="display-6">Teste</h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit consectetur dolorum necessitatibus? Omnis
        voluptatum autem fugiat suscipit officiis nam accusantium molestias, ad nisi reiciendis dolorum porro ipsam iure
        ipsa.</p>
      <h4 class="display-6">Teste</h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit consectetur dolorum necessitatibus? Omnis
        voluptatum autem fugiat suscipit officiis nam accusantium molestias, ad nisi reiciendis dolorum porro ipsam iure
        ipsa.</p>
      <h4 class="display-6">Teste</h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit consectetur dolorum necessitatibus? Omnis
        voluptatum autem fugiat suscipit officiis nam accusantium molestias, ad nisi reiciendis dolorum porro ipsam iure
        ipsa.</p>
      <h4 class="display-6">Teste</h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit consectetur dolorum necessitatibus? Omnis
        voluptatum autem fugiat suscipit officiis nam accusantium molestias, ad nisi reiciendis dolorum porro ipsam iure
        ipsa.</p>
      <p class="lead">
        <a class="btn btn-primary btn-md" href="#" role="button">Add a log!</a>
      </p>
    </div>
  </div>
</div>