<div class='container' style="height: 90vh;">
  <div class='row h-100 justify-content-center align-items-center'>
    <div class='mx-auto col-sm-6'>
      <div class="alert border border-success rounded" role="alert" *ngIf="uploadSuccess">
        <a class="text-success"><strong>Log successfully uploaded and it's being processed!</strong> </a>
      </div>
      <h1 class="display-4">Log Upload</h1>
      <form [formGroup]="formGroupUpload" (ngSubmit)="onUploadSubmit()">
        <div class="form-group">
          <label>Select below your .txt log file to be upload.
            You can also type a log line in the other form.
          </label>
          <input #fileInput formControlName="file" type="file" accept=".txt,.log"
            (change)="handleFile($event.target.files[0])">
        </div>
        <button class="btn btn-primary pull-right" type="submit" [disabled]="!isFormValidFormUpload()">Submit</button>
      </form>
    </div>
    <div class="mx-auto col-sm-6">
      <div class="alert border border-success rounded" role="alert" *ngIf="rawLogSuccess">
        <a class="text-success"><strong>Log successfully uploaded and it's being processed!</strong> </a>
      </div>
      <h1 class="display-4 w-100">Raw log line<a class="btn shadow btn-sm align-top" placement="top"
          ngbPopover="{{popOverDescription}}" popoverTitle="Log line format">?</a></h1>

      <form [formGroup]="formGroupRaw" (ngSubmit)="onRawLogSubmit()">
        <div class="form-row">
          <div class="form-group col">
            <input type="text" class="form-control" formControlName="date" placeholder="Date" [(ngModel)]="date">
          </div>
          <div class="form-group col">
            <input type="text" class="form-control" formControlName="ip" placeholder="IP" [(ngModel)]="ip">
          </div>
          <div class="form-group col">
            <input type="text" class="form-control" formControlName="request" placeholder="Request"
              [(ngModel)]="request">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-3">
            <input type="text" class="form-control" formControlName="code" placeholder="Code" [(ngModel)]="code">
          </div>
          <div class="form-group col-9">
            <input type="text" class="form-control" formControlName="userAgent" placeholder="User Agent"
              [(ngModel)]="userAgent">
          </div>

        </div>
        <button class="btn btn-primary pull-right" type="submit" [disabled]="!isValidFormRaw()">Submit</button>
      </form>
    </div>
  </div>
</div>
